{{#partial "body"}}
    <h2>Member list test page</h2>

    <table border="1">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        {{#each members}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <form action="/logout" method="POST">
        <input type="submit" value="Logout"/>
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
    </form>
{{/partial}}

{{> layout}}